<div id="content_type">

	<h1>{$type}</h1>
	
	<div>
		<b>module</b> {$module} <br/>
		<b>multilanguage</b> {$multilanguage} <br/>
		<b>published</b> {$published} <br/>
		<b>comment enabled</b> {$comment_enabled} <br/>
		<b>file enabled</b> {$file_enabled} <br/>
		<b>tags enabled</b> {$tags_enabled} <br/>
		<b>order by</b> {$order_by} <br/>
		<b>searchable</b> {$searchable} <br/>
		<b>unique</b> {$unique} <br/>
	</div>
	<br/>
	<br/>
	
	
	<h2>fields</h2>
		<ul class="list" id="sortable">
		{loop="field_list"}
			<li class="row{$counter%2+1}">
				<div class="edit">&nbsp;</div>
				<div class="title">
					{$value.name}
				</div>
			</li>
		{/loop}
		</ul>	
</div>