<script>

	$(document).ready( function(){

		$.validator.messages.required 	= "{#_NECESSARY_FIELD_#}";
		$.validator.messages.email 		= "{#_EMAIL_FIELD_#}";
		
		$("#language_list").validate({
			debug:true,
			submitHandler: function(form){
				if( $('.published_checkbox:checked').length == 0 || $('.admin_published_checkbox:checked').length == 0 ){
					alert( '{#_CONF_SET_LANGUAGE_#}' );
					return;
				}
				$('#language_list_loading').fadeIn('fast')
				$('#language_list').hide()
				$('#form_result').html('').fadeOut()
				$(form).ajaxSubmit({
					target: '#form_result',
					complete:function( dataxml ){
						$('#language_list_loading').hide()
						$('#language_list').fadeIn('slow')
						$('#form_result').hide().fadeIn('slow')
					},
				});
			}
		});

	});
	
</script>

{if="$language_list"}
<div id="list">

	<div id="form_result" style="display:none;"></div>
	<div id="language_list_loading" style="display:none;"><img src="../aimg/loading.gif" alt="loading"/>Loading</div>

	<form name="language_list" id="language_list" action="admin.server.php" method="POST">
		<input type="hidden" name="module" value="conf">
		<input type="hidden" name="cp" value="languages/save">

		<ul class="list" id="sortable">
        {loop="language_list"}
        	<li class="row{$counter%2+1} drag" id="i_{$value.lang_id}">
        		<div class="edit"><img src="{#LANGUAGE_DIR#}{$value.lang_id}/{$value.lang_id}.gif#" class="tooltip" title="{$value.lang_id} / {$value.language}"></div>
				<div class="title">
					<div style="float:left;margin-right:15px;">{$value.language}</div>
					<div style="float:left;margin-right:15px;">{"conf_lang_published"|get_msg} <input type="checkbox" name="lang[{$value.lang_id}][published]" id="enable_{$value.lang_id}" {if="$value.published"}checked="checked"{/if} class="published_checkbox"></div>
					<div style="float:left;margin-right:15px;">{"conf_lang_admin_published"|get_msg} <input type="checkbox" name="lang[{$value.lang_id}][admin_published]" id="enable_{$value.lang_id}" {if="$value.admin_published"}checked="checked"{/if} class="admin_published_checkbox"></div>
				</div>
				{if="count($language_list)>1"}
				<div class="del"><a href="javascript:lang_unistall('{$value.lang_id}','{"conf_lang_unistall"|get_msg}' );"><img src="../aimg/del.gif#" alt="del"></a></div>
				{/if}
    	    </li>
        {/loop}
    	</ul>
    	<br>
    	<div align="right"><button>{"save"|get_msg}</button></div>
		</form><br>
		<div align="left">
			{"conf_lang_compile_description"|get_msg}<br>
			<button onclick="lang_compile();">{"conf_lang_compile"|get_msg}</button>
		</div>
</div>
{/if}