<script>

	$(document).ready( function(){

		$.validator.messages.required 	= "{#_NECESSARY_FIELD_#}";
		$.validator.messages.email 		= "{#_EMAIL_FIELD_#}";
		
		$("#module_list").validate({
			debug:true,
			submitHandler: function(form){
				$('#module_list_loading').fadeIn('fast')
				$('#module_list').hide()
				$('#form_result').html('').fadeOut()
				$(form).ajaxSubmit({
					target: '#form_result',
					complete:function( dataxml ){
						$('#module_list_loading').hide()
						$('#module_list').fadeIn('slow')
						$('#form_result').hide().fadeIn('slow')
					},
				});
			}
		});
		
	});
	
</script>

{if="$module_list"}
<div id="list">

	<div id="form_result" style="display:none;"></div>
	<div id="module_list_loading" style="display:none;"><img src="../aimg/loading.gif" alt="loading"/>Loading</div>

	<form name="module_list" id="module_list" action="admin.server.php" method="POST">
		<input type="hidden" name="module" value="conf">
		<input type="hidden" name="cp" value="moduleuages/save">

		<table cellspacing="0" cellpadding="0" class="table">

			<thead>
				<th></th>
				<th>{"modules"|get_msg}</th>
				<th width="140">{"published"|get_msg}</th>
			</thead>

        {loop="module_list"}
			<tr class="row{$counter%2+1}" id="i_{$value.module}">
				<td class="edit"></td>
				<td><input type="hidden" name="module[{$value.module}][module]" value="{$value.module}">{$value.module}</td> 
				<td><input type="checkbox" name="module[{$value.module}][published]" id="enable_{$value.module}" {if="$value.published"}checked="checked"{/if} class="published_checkbox"></td> 
        	</tr>
        {/loop}
    	</table>
    	<br>
    	<div align="right"><button>{"save"|get_msg}</button></div>
		</form>
</div>
{/if}