<div class="module_list" id="module_list">
    <h2>Installed Modules</h2>
    {loop="module_list"}
    <div class="row module_{$value.module} row{$counter%2+1}">
        <div class="title">
            <h4>{$value.module}<div class="version"> {$value.version}</div></h4> 
            <div class="description">{$value.description}</div>
            <div class="action">{if="$value.installed"}<a class="rain_module_deactivate module_{$value.module}">Deactivate</a> <a class="rain_module_remove module_{$value.module}">Remove</a>{else}<a class="rain_module_activate module_{$value.module}">Activate</a>{/if}</div>
        </div>
    </div>
    {/loop}
</div>