/* BLOCK SORTABLE */

    .rain_load_area_edit_title{padding:3px 5px;background:#9c9;color:#363;border:1px solid #696;text-shadow:1px 1px 1px #cfc;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;text-transform:capitalize;}
    .rain_load_area_edit:hover{background:#efe;border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;}
    .rain_load_area_edit:hover .rain_load_area_edit_title{padding:1px 3px; border:3px solid #696;}
    .rain_load_area_edit .icon{float:right;font-size:10px;text-shadow:none;}
    .rain_load_area_edit .icon a{float:left;margin-left:10px;text-decoration: none;color: #363;cursor:pointer;}
    .rain_load_area_edit_content{min-height:100px;width:100%;}

    .rain_block_edit{}
    .rain_block_edit.selected{}
    .rain_block_edit:hover{background:#eef;}
    .rain_block_edit_title{padding:2px 3px;background:#69c;color:#036;border:1px solid #369;text-shadow:1px 1px 1px #acf;}
    .rain_block_edit_title .icon{float:right;font-size:10px;text-shadow:none;}
    .rain_block_edit_title .icon a{float:left;margin-left:10px;text-decoration: none;color: #036;cursor:pointer;}
    .rain_block_edit:hover .rain_block_edit_title{padding:0px 1px; border:3px solid #369;}

    .rain_popup{width:100%;height:100%;position:fixed;z-index:10000;top:0;left:0;display:none;}
    .rain_popup .rain_popup_bg{background:#fff;opacity: 0.4;width:100%;height:100%;}
    .rain_popup .rain_popup_close{background:url(../img/rain/close_box.png) no-repeat center center;width:20px;height:20px;position:absolute;right:5px;top:5px;cursor:pointer;}
    .rain_popup .rain_popup_window{margin:0 auto;width:400px;position:absolute;background:#fff;border-radius: 5px;-moz-border-radius: 5px;-moz-box-shadow: 0 0 10px 1px #666;-webkit-box-shadow: 0 0 10px 1px #666;box-shadow: 0 0 10px 1px #666;}
    .rain_popup .rain_popup_window_inner{padding:20px;}
    .rain_popup input[type=submit]{clear:both;float:right;}
    .rain_popup .delete{position:absolute;bottom:20px;}

    .rain_popup.new_content {}
    .rain_popup.new_content .rain_popup_window{}
    .rain_popup.new_content .rain_popup_window_title{margin:20px 20px 0;}
    .rain_popup.new_content .rain_popup_window_content{overflow:auto;margin: 5px;padding:20px}
    .rain_popup.new_content .rain_popup_window_content input[type="text"], 
    .rain_popup.new_content .rain_popup_window_content textarea {width: 440px;}
    .rain_popup.new_content .rain_popup_window_content ul {list-style:none;padding:0;margin:0;}
    .rain_popup.new_content .rain_popup_window_content li {border-bottom: 1px solid #CCC;padding: 10px 20px;cursor: pointer;}
    .rain_popup.new_content .rain_popup_window_content li:hover {background:#def;}

    .rain_popup.new_content form{}
    .rain_popup.new_content label.error{color:red;line-height:0px;}