/* Content */
#content_type{padding:20px;}

/* Content */
#content_left{float:left;width:200px;border-right:solid 1px #dddddd;padding:20px 0px 20px 0px;margin-left:20px;}
#content_main{margin:0px 0px 0px 220px;padding:20px;}
#content_main ul, #content_main li{list-style:none;}
#content_path{font-size:11px;}
#content_path a{color:#000;}
#content_title{font-size:18px;display:inline;}

#content_main ul{}
#content_main ul li{}

/* Module List */
.module_list {width:500px}
.module_list .row{padding:20px;border-bottom:1px solid #eee;overflow:hidden;}
.module_list .row:hover{background:#fea}
.module_list .disabled{background:#fee}
.module_list h4{margin:0;font-size:14px;}
.module_list .version{font-size:10px;display:inline;color:#999;font-weight:normal;}
.module_list .description{font-size:12px;margin-bottom:5px;}
.module_list .info{float:left;}
.module_list .action{float:right;}
.module_list .action a{color:#369;cursor:pointer;margin-right:5px;}