/* Content */
#content_left{float:left;width:200px;border-right:solid 1px #dddddd;padding:20px 0px 20px 0px;margin-left:20px;}
#content_main{margin:0px 0px 0px 220px;padding:20px;}
#content_main ul, #content_main li{list-style:none;}
#content_path{font-size:11px;}
#content_path a{color:#000;}
#content_title{font-size:18px;display:inline;}
#content_stats{overflow:auto;}
#content_stats iframe{width:700px;height:380px;border:0px;}
#content_tools{display:inline;font-size:10px;margin-left:20px;}
#content_tools a{margin-right:15px;text-decoration:none;color:#999;font-family:Helvetica, Arial;}
#content_center{margin-top:20px;}
#content_edit{float: left;}
#content_file{margin-left: 620px;}
#content_list{margin:30px 0 30px 0;width:600px;}