#address_book{margin:0 10px;}

#address_book_table{width:100%;border:1px solid #eee;}
#address_book_table td{border-right:1px solid #ddd;padding-right:1px;vertical-align:top;}
#address_book_table td:last-child{border:0;}

#address_button{text-align:right;margin:10px 0}
#address_button a{margin:0 10px;text-decoration:none}
#address_book span.online{color:#009900;}

#address_book #group_list, #address_book #account_list{width:200px;}

/* address book list */
#address_book ul{list-style:none;margin:0px;padding:0px;}
#address_book li{line-height:22px;height:22px;cursor:pointer}
#address_book li.selected{font-weight:bold;background-color:#ddeeff;color:#003399;cursor:pointer;}
#address_book li:hover{background-color:#ffffdd;cursor:pointer}


/* group */
#group_list li{text-indent:10px; }
#g_all, #g_online, #g_registered{font-size:12px;border-bottom:1px solid #eee;padding:10px 0px;font-weight:bold;background: url(../aimg/r-arrow.png) no-repeat 180px center;}
#g_all:hover, #g_online:hover, #g_registered:hover{cursor:pointer}

/* account list */
#account_list input {margin:0 0 0 3px}
#account_list span{margin: 0 0 0 3px}


#account_list .toolbar{background:#f6f6f6;border-bottom:1px solid #ddd;}
#account_list .toolbar input[type=text]{border:1px solid #ccc; height:18px;margin:1px;text-indent:3px;width:153px;}
#account_list .toolbar img{display:none;float:right;margin:3px 3px 0 0;}

#account_list_inner{ overflow-y:auto;overflow-x:hidden;}



/* account detail */
#account_detail .toolbar{width:100%;background:#f6f6f6;border-bottom:1px solid #ddd;height:34px;}
#account_detail .toolbar a{float:left;margin:4px 0 0 10px;padding:5px 10px;cursor:pointer;text-transform:capitalize; font-weight:bold;text-decoration:none;text-shadow:1px 1px 1px #fff}
#account_detail .toolbar img{display:block;float:left;margin:0 5px 5px 0;}
#account_detail .toolbar a.delete_button{float:right;margin:4px 4px 0 0}

#account_detail table{width:350px;}
#account_detail td{border:0px}


#account_detail h1{margin:0 0 15px 0;font-size:20px;font-weight:normal}
#account_detail h2{margin:40px 0 10px;border-bottom:1px solid #ccc;font-size:12px;font-weight:normal;color:#999}
#account_detail h3{margin:0;color:#369;font-size:14px;font-weight:normal;}
#account_detail label{color:#ccc;font-size:10px;line-height:6px}
#account_detail label.error{color:red;}
#account_detail #account_info {font-size:13px;padding:20px}
#account_detail #account_info td{width:150px;}
#account_detail #account_info input[type=text]{padding:2px 1px;margin:0px;width:160px;font-size:13px;border:1px solid #ccc;position:relative;top:-3px;left:-3px;}
#account_detail #account_info input[type=text].long{width:100%}
#account_detail #account_info input[type=text].name{display:block;margin:0 0 15px 0;font-size:20px;font-weight:normal}


#account_detail #user_localization {margin-left:10px; font-size:10px;color:#999;}
#account_detail #user_localization a{text-decoration:none;cursor:pointer;color:#999;}
#account_detail #user_localization span{color:#393;}

#account_detail #user_localization_info {background:#efe;padding:5px 10px;color:#393;display:none}
#account_detail #user_localization_info h2{color:#999;margin-top:0px;}

#button_group_list{display:none;border:1px solid #999;position:absolute;margin-top:30px;margin-left:5px;background:#fff;min-width:100px;max-width:200px;}
#button_group_list div, #button_group_list span{padding:3px 8px 3px 8px;display:block;}
#button_group_list span{background:#eee;border-bottom:1px solid #ccc;padding:8px;}
#button_group_list div:hover{background:#ffffdd;cursor:pointer;}