<div class="toolbar">
	<input type="checkbox" onchange="if(this.checked)account_select_all(); else account_deselect_all();"> 
	<input type="text" id="usearch" name="usearch" value="{$usearch}" onkeyup="if(this.value!='{$usearch}')$('#usearch_img').fadeIn(); else $('#usearch_img').fadeOut();">
    <img id="usearch_img" src="../aimg/view.gif" onclick="accountSearch()"/>
</div>
<div id="account_list_inner">
	{if="$account_list"}
		<div>
			<form name="account" action="ajax.php" method="post">
				<input type="hidden" name="module" value="mailer">
				<input type="hidden" name="cp" value="account/add">
		
				<ul id="account_ul">
				    {loop="account_list"}
					<li {if="$value.user_id>0"}id="a_{$value.user_id}"{else}id="guest_{$value.user_localization_id}"{/if}>
						{if="$value.user_id>0"}
						<input type="hidden" name="account[{$value.user_id}]" value="off">
						<input type="checkbox" value="{$value.user_id}" name="account[{$value.user_id}]" class="account_checkbox" id="account_input_{$value.user_id}" onchange="selectAccount('{$value.user_id}', '{$value.user_localization_id}', '{$group_id}', this.checked);" {if="isset($value.selected)"}checked{/if}/>
						{else}
						<img src="../aimg/user/0.gif" alt="-" class="online" title="{"user unregistered"|get_msg}">
						{/if}
						{if="$value.user_localization_id"}<img src="../aimg/user/online.png" style="margin-top: 5px">{/if}
						<span onclick="openAccount('{$value.user_id}','{$value.user_localization_id}','{$group_id}');" {if="$value.user_localization_id"}class="online"{/if}>{$value.name|cut:30}</span>
					</li>
		        	{/loop}
		    	</ul>
			</form>
		</div>
		{/if}
	</div>
</div>