<div id="content_list">
	
	
	{if="$child_type"}
	<div id="box_info" class="box box_info">
	{"content_msg_new_content"|get_msg}<br/>
		<form name="content_new" action="{#ADMIN_AJAX_FILE_URL#}Content/content_new/{$content_id}/" method="get" style="display:inline" class="cpForm">
			<input type="text" name="title" value="{"content_msg_new_content_title"|get_msg}"/>
			<select name="type_id">
			{loop="child_type"}
				<option value="{$key}">{$value}</option>
			{/loop}
			</select>
			<button>{"send"|get_msg}</button>
		</form>
	</div>
	{/if}

	<form name="content_list">
		<input type="hidden" module="content">
		<ul class="list" id="sortable">
		{loop="content_list"}
			<li class="row{$counter%2+1} {if="$sortable"}drag{/if} {if="$sel_id==$value.content_id"}selected{/if}" id="i_{$value.content_id}">
				<a name="content_{$value.content_id}"></a>
				<div class="edit"><a href="{#ADMIN_FILE_URL#}Content/edit/{$value.content_id}/"><img src="../aimg/edit.gif" class="tooltip" title="<span class=text_light>{$value.type} &gt;</span> {"content_button_content"|get_msg}" alt="{"edit"|get_msg}"/></a></div>
				<div class="title">
					<a href="{#ADMIN_FILE_URL#}Content/content_list/{$value.content_id}/" class="tooltip" title="<span class=text_light>{$value.type} &gt;</span> {"content_button_content_list"|get_msg}">{$value.title}</a>
					{if="$value.last_edit_time==0"}<img src="../aimg/new-mini.gif" class="tooltip" title="{"content_new"|get_msg} - {"content_new_phrase"|get_msg}" alt="{"content_new"|get_msg}"/>
					{elseif="!$value.published"}<img src="../aimg/not_published-mini.gif#" class="tooltip" title="{"content_not_published"|get_msg} - {"content_not_published_phrase"|get_msg}" alt="{"not_published"|get_msg}"/>{/if}
					{if="$value.n_user"}<a href="{#ADMIN_FILE_URL#}/User/" class="tooltip" title="{$value.n_user} {"content_visitors"|get_msg} - {"content_visitors_caption"|get_msg}"><img src="../aimg/user/user.gif" alt="{"content_visitors"|get_msg}"></a><span class="text_light">({$value.n_user})</span>{/if}
				</div>
				<div class="del"><a onclick="javascript:content_delete('{$value.content_id}','{$content_id}','{"content_button_delete"|get_msg}');void(0);" title="{'content_button_delete'|get_msg}" class="tooltip" ><img src="../aimg/del.gif" alt="{"delete"|get_msg}" /></a></div>
			</li>
		{/loop}
		</ul>
	</form>
</div>