	<form name="rss" action="{#ADMIN_FILE_URL#}" method="get">
		<input type="hidden" name="module" value="content">
		<input type="hidden" name="cp" value="content/rss">
		<input type="hidden" name="id" value="{$id}">
		Rss url <input type="text" name="rssurl" value="{$rssurl}" size="60">	
		&nbsp; <input type="submit" value="{#_SEARCH_#}">
	</form>
	<br>
	{if="$content_list"}
		<ul class="list" id="contentList">
		{loop="content_list"}
			<li id="row_{$counter}" class="row{$counter%2+1}">
				<div class="edit">{if="$value.content"}<a href="?cp=content/edit&id={$value.content[content_id]}"><img src="{#ADMIN_VIEWS_IMAGES_DIR#}enabled.gif#"></a>{else}<a href="javascript:addRss('{$rssurl}', '{$content_id}', {$value.pubDate}, {$counter} );void(0);"><img src="../aimg/add.gif" id="btn_{$counter}">{/if}</a></div>
				<div class="title"><span class="text_light">{$value.pubDate|time_format}</span> <a href="{$value.link}" target="_blank"><span id="text_{$counter}" title="" class="tooltip">{$value.title}</span></a> [ {if="isset($value.category)"}{$value.category}{/if} ] </div>		
			</li>
		{/loop}
		</ul>
	{/if}