/*-----------------------------------------

    Generic HTML/CSS style

-------------------------------------------*/

    body, html{ margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*-----------------------------------------

    Rain Theme

-------------------------------------------*/

/* generic */
    a{color:#333;text-decoration:none;}
    a:hover{color:red;text-decoration:underline}
    img{border:0}
    h1,h2,h3{font-weight:normal;font-family:Geneva}
    h1{color:#369;margin:3px 0 5px 0;font-family:Georgia;font-size:36px;}
    h2, h2 a{color:#393;font-size:24px;font-family:Georgia;margin:0px}
    h3{color:#333;font-size:17px;margin:0px}

    body{font-family:"Lucida Grande", "Lucida Sans", sans-serif;font-size:13px;color:#444;background:#fff;margin:0px;height:100%;}

/* Header */
    .home header{height:400px;background:url(../img/cloud.png) bottom center repeat-x #60b5e6}
    header .content{padding:70px 0;display:block}

/* Nav */
    header .nav_container{background:#369;}
    nav{height:40px;line-height:40px;margin:0 auto;width:1024px;}
    nav a{display:block;float:left;padding:0 20px;text-decoration:none;color:#fff;}
    nav a.selected, nav a:hover{color:#fff;background:#036;text-decoration:none}
    
/* Section */
    section {width:1024px;margin:30px auto;}

/* Footer */
    footer{ font-size:11px;color:#999;margin:0 auto;width:1024px;height:100px;}
    footer a{text-decoration:none;color:#369}
    footer a:hover{text-decoration:underline;}

/* Header Home */
    #logo{ float:left;display:block;margin:100px}
    #slogan{ float:right;display:block;margin:100px}
    
    
/*-----------------------------------------

    Modules Style

-------------------------------------------*/

/* Content */
    .content{}
    .content_list{}
    .content_list .voice{overflow:hidden;margin:30px 0;}
    .content_list .date{color:#999;}
    
    
/* Fluid design */
    .row{float:left;clear:both;width:100%;}
    .span12{width:100%;float:left;}
    .span8{width:66%;float:left;}
    .span6{width:50%;float:left;}
    .span4{width:33%;float:left;}
    .span2{width:25%;float:left;}
    
