<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<base href="{#URL#}">
		<base src="{#URL#}">
		<title>{$title}</title>
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		
		<!-- style and js -->
		{$head}
		<!-- /style and js -->

	</head>

<body>

<div id="container">
    <!-- header -->
    <div id="header">
        <div id="logo"><a href="http://www.raincms.com/" target="_blank"><img src="img/title.gif" alt="Rain CMS"/></a></div>
        <div id="sign">
            {if="$user"}welcome: <b>{$user.name}</b> {$user.level} - <i><a href="admin/Login/logout/">{"logout"|get_msg}</a></i>{/if}
        </div>
        <div id="menu">
            {loop="menu"}
                <a href="{$value.link}" {if="$value.selected"}class="selected"{/if}>{$value.name}</a>
            {/loop}
        </div>
    </div>
    <!-- /header -->

    <!-- body -->
    <div id="body">
        <h2>Whoops!</h2>
    	{"page not found"|get_msg}
    </div>
    <!-- /body -->
	<div id="footer_space"></div>
</div>

<!-- footer -->
<div id="footer" align="center">
	<div id="stats">execution time: {$execution_time} - queries: {$n_query}</div>
	<div id="copyright">Copyright RainCMS &copy; 2000 / 2009</div>
	<div align="right"><a href="http://www.raincms.com" target="_blank">RainCMS</a></div>
	<!-- <div align="right"> <a href="http://www.raintpl.com" target="_blank"><img src="img/raintpl.gif" alt="Rain TPL"/></a> <a href="http://validator.w3.org/check?uri="><img src="img/xhtml.gif" alt="W3c - xHtml 1.0 Strict Validation"/></a></div> -->
</div>
<!-- /footer -->


    <!-- js -->
    {$foot}
    <!-- /js -->

</body>
</html>